.coverage
.venv
*,cover
cover
*.pyc
AUTHORS
build
dist
ChangeLog
run_tests.err.log
.tox
doc/source/api
doc/build
*.egg
.eggs/*
stacktaskclient/versioninfo
*.egg-info
*.log
.testrepository
.pypirc
env/
