{% load i18n %}

{% block pre_login %}
<form>
  {% csrf_token %}
{% endblock %}

  <div class="panel panel-default">

    <div class="panel-heading">
    {% block login_header %}
      <h3 class="login-title">
        {% trans 'Forgot password' %}
      </h3>
    {% endblock %}
    </div>

    <div class="panel-body">
    {% block login_body %}
      {% trans "A password reset link has been sent to you, provided an account exists for your email address." %}
    {% endblock %}
    </div>

    <div class="panel-footer">
      {% block login_footer %}
        <a href="/" class="pull-right">{% trans "Back to log in" %}</a>
        <div class="clearfix"></div>
      {% endblock %}
    </div>
  </div>

{% block post_login%}
</form>
{% endblock %}
